
@media only screen and (max-width:600px){
html{
    font-size: 62.5%;
}
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
    
}
body{
    width:100%;
    height:100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(45deg,#0a0a0a, #3a4452);
}
.calculator{
    border:1px solid #717377;
    padding:1.375rem;
    border-radius:1rem;
    background:transparent;
    box-shadow:0px 0.1875rem 0.9375rem rgba(113,115,119,0.5);
}

input{
    width:90%;
    border:none;
    padding:20px;
    margin:20px;
    background:transparent;
    box-shadow:0px 0.1875rem 0.9375rem rgba(255, 255, 255, 0.2);
    font-size: 20px;
    color:white;
    text-align:right;
}

input::placeholder{
    color:#ffffff;
}

button{
    border:none;
    width:3.75rem;
    height:3.75rem;
    margin:1.1875rem;
    border-radius:50%;
    background: transparent;
    color:white;
    font-size:1.25rem;
    box-shadow: -0.4375rem -0.3125rem 0.625rem rgba(255,255,255,0.1);
    cursor:pointer;
}
.equal-btn{
    background-color: orangered;
    font-weight: bold;
    box-shadow: none;
}
.operator-btn{
    color:orangered;
    box-shadow:0.3125rem 0.3125rem 0.9375rem inset rgba(255,255,255,0.05);
    font-weight: bold;

}